version: 1.0.{build}
skip_branch_with_pr: true
skip_tags: true
image:
- Visual Studio 2022
- Ubuntu2004
- macos-sonoma
environment:
  matrix:
  - Target: TestCore
    ScriptArgs: '--netcore=net8.0 --netcoreVersion=net8.0'
  - Target: Test
    ScriptArgs: ''
matrix:
  exclude:
  - image: macos-sonoma
    Target: Test
  - image: Ubuntu2004
    Target: Test
install:
  - dotnet tool restore
build_script:
- cmd: dotnet cake --target=%Target% %ScriptArgs%
- sh: dotnet cake --target=$Target $ScriptArgs
test: off
